# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# Logs
*.log
